.hover {
  &:hover {
    color: var(--main-second-color);
    &:before {
      width: 100%;
    }
  }
}

.active {
  transform: translateY(0px);
  transition: var(--main-transition);
  opacity: 1;
}
.deactive {
  transform: translateY(-65px);
  transition: var(--main-transition);
  opacity: 0.2;
  @media (max-width: 768px) {
    transform: translateY(65px);
  }
}

.header {
  display: flex;
  flex-direction: row;
  padding: 0px 20px;
  box-shadow: var(--main-box-shadow);
  position: fixed;
  width: 100%;
  z-index: 9;
  background: #fff;
  height: 60px;
  .logo {
    width: 50px;
    // align-items: center;
    // padding: 0 20px;
    img {
      height: 50px;
      width: 50px;
    }
  }
  .list_menu {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .menu_item {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .item {
        display: flex;
        a {
          width: 100%;
          padding: 12px 12px;
          color: #333;
          transition: 0.2s;
          position: relative;
          &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            transition: 0.2s;
            background-color: var(--main-second-color);
          }
          &:hover {
            @extend .hover;
          }
        }
      }
      .menu_active {
        a {
          color: var(--main-second-color);
          &:before {
            width: 100%;
          }
        }
      }
    }
  }
}

.header {
  top: 0;
  left: 0;
  align-items: center;
  @media (max-width: 990px) {
  }
  @media (max-width: 768px) {
    top: unset;
    bottom: 0;
  }
  @media (max-width: 625px) {
  }
  @media (max-width: 550px) {
  }
  @media (max-width: 425px) {
  }
}
