.card_post {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  box-sizing: border-box;
  margin: 0 0 20px 0;
  padding: 0 0 5px 0;
  border-bottom: 2px solid #eee;
  .card_image {
    box-shadow: var(--main-box-shadow);
    flex-basis: 25%;
    position: relative;
    top: 0;
    background: #eee;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    flex-shrink: 0;
    &:before {
      padding-bottom: 45%;
      content: '';
      display: block;
    }
  }
  .card_body {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    flex: 1;
    .content {
      flex-basis: 50%;
    }
    .card_action {
      margin-top: auto;
      background: #fff;
      display: flex;
      justify-content: space-between;
      span {
        padding: 0 50px 0 0;
      }
    }
  }
}
