.wrapper {
  padding: 50px 200px;
  @media (max-width: 990px) {
    padding: 50px 100px;
  }
  @media (max-width: 768px) {
    padding: 50px 75px;
  }
  @media (max-width: 525px) {
    padding: 50px 50px;
  }
  @media (max-width: 425px) {
    padding: 50px 25px;
  }
}
